.calc-body {
  width: 400px;
  height: 350px;
  background-color: gray;
  padding: 10px;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
}

.calc-body input[type="button"] {
  background-color: rgb(230, 230, 230);
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 10px;
}

.calc-body input[type="button"]:hover {
  background-color: rgb(201, 201, 201);
  cursor: pointer;
}

.calc-body input {
  border: 0;
  border-radius: 5px;
  height: 20px;
}

.calc-body label {
  font-size: 16px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}
